.home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-title{
    border-left: 5px solid #3A5199;
    padding-left: 10px;
    font-size: 3em;
    font-weight: 600;
    line-height: 1;
}
.feature-title span{
    color: #3A5199;
}

.feature-products-img img{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    margin-top: 30px;
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    
}

.feature-details{
    text-align: left;
    color: grey;
    font-size: 1.1em;
    font-weight: 100;
    margin-top: 30px;
}

.detail-btn{
    padding: 10px;
    width: 150px;
    height: 60px;
    color: #3A5199;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px;
    background-color: #dde3f7;
}
.detail-btn:hover{
    background-color: #3A5199;
    color: #dde3f7;
    transition: 0.6s;
}

/* customer-review section  */
.customer-reviews{
    background-color: #f2f5f8;
    margin-top: 100px;
    padding-bottom: 100px;
    
    
}
.container{
    display: flex;
}
.review-heading{
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
    width:350px;
    margin: auto;
    border-bottom: 2px solid #3A5199;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;

}

.all-review-btn{
    padding: 2px;
    width: 250px;
    height: 40px;
    color: #3A5199;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    background-color: #dde3f7;
}
.all-review-btn:hover{
    background-color: #3A5199;
    color: #dde3f7;
    transition: 0.6s;
}



/* Media queries for mobile devices */
@media screen and (max-width: 500px){
    /* header styles */
    .home-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .feature-products{
        order: 2;
    }
    .feature-products-img img{
        width: 340px;
        height: 440px;
        margin-bottom: 40px;
    }
    .feature-title{
        border-left: 3px solid #3A5199;
        padding-left: 10px;
        font-size: 1.5em;
    }
    .home-container{
        width: 340px;
        margin: auto;
    }
    .feature-details{
        text-align: justify;
        font-size: 1em;
    }
    .detail-btn{
        width: 110px;
        padding-top: 4px;
        height: 40px;
        font-size: 1em;
        font-weight: 600;
    }

    /* home review styles */

    .customer-reviews{
        margin-top: 80px;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 340px;
    }
    .review-heading{
        font-size: 1.4em;
        width:200px;
        
    }
    
    .all-review-btn{
        width: 150px;
        height: 30px;
        color: #3A5199;
        font-size: 1em;
        font-weight: 600;
    }

}